@charset "utf-8";

body {
	color: #4d4d4d;
	background: #dedede url(../images/lightblue/page_bg.png) repeat 0 top;
}

#container {
	min-height: 550px;
	background: url(../images/lightblue/main_bg.png) no-repeat center top;
}

a,
a:link,
a:visited {
	color: #3988CC;
}

a:hover {
	color: #1f73a8;
}

#toolbar {
	background: #2a5c81;
	border-bottom: 1px solid #214967;
	color: #FFF;
}

#toolbar a {
	color: #f4f4f4;
	border-right: 1px solid #467393;
	padding: 0px 15px 0px 0px;
	text-decoration: none;
}

#toolbar a:hover {
	color: #fff;
}

#toolbar li.active a {
	color: #9ac7e7;
}

#toolbar li.active a:hover {
	color: #67909f;
}

#search .inputbox {
	background: #c5c5c5 url(../images/lightblue/search_bg.gif) no-repeat 4% 50%;
	border: 1px solid #c5c5c5;
	color: #505050;
}

#search .inputbox:focus {
	outline: none;
}

#logo-graphic h1 a {
	background: url(../images/lightblue/logo.png) no-repeat 0 0;
}

#logo-text h1 a {
	color: #FFF;
	text-shadow: 1px 1px 1px #000;
	-moz-text-shadow: 1px 1px 1px #000;
	-webkit-text-shadow: 1px 1px 1px #000;
	-khtml-text-shadow: 1px 1px 1px #000;
}

#logo-text h2 {
	color: #CCC;
}

#banner {
	color: #FFF;
	text-shadow: 1px 1px 1px #000;
	-moz-text-shadow: 1px 1px 1px #000;
	-webkit-text-shadow: 1px 1px 1px #000;
	-khtml-text-shadow: 1px 1px 1px #000;
}

#banner a {
	color: #FFF;
}

.readon {
	background-color: #dcdcdb;
}

.elements {
	background: #F8F8F8 url(../images/lightblue/container.png) repeat-x 0 0;
	border-top: 1px solid #FFF;
	color: #333;
}

#breadcrumbs {
	background: #F8F8F8 url(../images/lightblue/bread_bg.png) repeat-x 0 0;
	position: relative;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	margin: 5px 0px 10px 0px;
	padding: 0px 0px 0px 10px;
	border: 1px solid #1B1B1B;
	background-color: #000;
	box-shadow: 0px 1px 2px #121212;
	-moz-box-shadow: 0px 1px 2px #121212;
	-webkit-box-shadow: 0px 1px 2px #121212;
	-khtml-box-shadow: 0px 1px 2px #121212;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-khtml-border-radius: 4px 4px 4px 4px;
}

#breadcrumbs img {
	position: relative;
	top: 4px;
	padding: 0px 4px 0px 4px;
}

#container h1, #container .componentheading {
	background: url(../images/lightblue/divider.png) repeat-x center bottom;
	color: #4b4b4b;
	text-shadow: #fff 1px 1px 0;
	-moz-text-shadow: 1px 1px 0px #000;
	-webkit-text-shadow: 1px 1px 0px #000;
	-khtml-text-shadow: 1px 1px 0px #000;
	letter-spacing: -1px;
}

#container h1.componentheading {
	font-size: 42px;
	padding: 5px 0px 15px 0px;
	margin: 0px 0px;
	line-height: 100%;
	color: #4d4d4d;
	text-align: center;
	font-weight: normal;
	background: url(../images/lightblue/divider.png) repeat-x center bottom;
	text-shadow: 1px 1px 0px #fff;
}

#container h2, #container .contentheading {
	color: #545454;
	text-shadow: 1px 1px 0px #fff;
	-moz-text-shadow: 1px 1px 0px #fff;
	-webkit-text-shadow: 1px 1px 0px #fff;
	-khtml-text-shadow: 1px 1px 0px #fff;
	letter-spacing: -1px;
}

#container h3,#container h4 {
	font-weight: normal;
}

#container h6 {
	color: #316c97;
}

.elements-bot {
	background: #dadada none repeat center bottom;
	border-top: 8px solid #e4e4e4;
	border-bottom: 8px solid #e4e4e4;
}

#footer,#footer a {
	color: inherit;
}

.iteminfo {
	background: url(../images/lightblue/divider.png) repeat-x center bottom;
}

p.smalldesc {
	color: #333;
}

span.caption-title {
    background: none repeat scroll 0 0 #ECECEC;
}
div.caption,div.caption.red,div.caption.green,div.caption.blue {
	color: #616161;
}


/* @group Main Menu */

#menu {
	height: 52px;
	background: url(../images/lightblue/nav_l.png) no-repeat left center;
	font-size: 15px;
	position: relative;
}

#menu ul.menu {
	background: url(../images/lightblue/nav_r.png) no-repeat right center;
	height: 52px;
	margin-left: 10px;
}

#menu ul.menu li a {
	line-height: 48px;
}
#menu ul.menu ul a {
	line-height: 28px;
}

#menu li a {
	color: #FFF;
	text-shadow: #003f5d 0 -1px 0;
	-moz-text-shadow: 1px 1px 1px #000;
	-webkit-text-shadow: 1px 1px 1px #000;
	-khtml-text-shadow: 1px 1px 1px #000;
}

#menu li:hover {
	background: url(../images/lightblue/nav_hover.png) repeat-x right top;
}

#menu li.active {
	background: url(../images/lightblue/nav_active.png) repeat-x center top;
}

#menu li.active a {
	color: #b9f1ff;
	text-shadow: 1px 1px 0px #000;
	-moz-text-shadow: 1px 1px 1px #000;
	-webkit-text-shadow: 1px 1px 1px #000;
	-khtml-text-shadow: 1px 1px 1px #000;
}

#menu ul ul {
	background: url(../images/lightblue/menu_bg_trans.png) repeat;
}

#menu ul ul li {
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

#menu ul ul li:hover {
	background: #000;
}

#menu ul ul li a {
	color: #FFF;
	text-shadow: none;
	border-bottom: 1px solid #1c1c1c;
}

#menu ul ul li:hover ul li a {
	color: #FFF;
}

#menu ul ul li a:hover,
#menu ul ul li:hover a,
#menu ul ul li:hover ul li:hover a {
	color: #FFF;
}

#menu ul li.active ul li.active a {
	color: #FFF;
}
#menu ul li.active ul li.active,
#menu ul li.active ul li.active ul li.active, {
	background-image: none;
}
#menu ul li.active ul li.active li a {
	color: #FFF;
}

#menu ul li.active ul li.active li:hover a {
	color: #FFF;
}

#menu ul li.active ul li.active li.active a {
	color: #FFF;
}

/* @end */

/* @group Header */

/* Header Logo - Set size in template parameters! */

#header span#graphic a,#header h1#graphic a {
	background: url(../images/lightblue/logo.png) no-repeat left center;
}

/* Text Logo */

#header span#text-header a,#header h1#text-header a {
	font-size: 40px;
	line-height: 100%;
	color: #2088b3;
	text-shadow: #000 1px 1px 1px;
}

/* Text Logo Hover */

#header span#text-header a:hover,#header h1#text-header a:hover {
	color: #a6dcf3;
}

/* Text Slogan */

#header span#text-slogan,#header h2#text-slogan {
	font-size: 18px;
	color: #7d8080;
	text-shadow: #000 0 1px 1px;
}

/* @end */

/* @group Modules */

div.module h3,
div.moduleS1 h3,
div.moduleS2 h3,
div.moduleS3 h3,
div.moduleS4 h3 {
	font-size: 18px;
	padding: 0px 0px 8px 0px;
	margin: 0px 0px 8px 0px;
	height: auto;
	font-weight: normal;
}

div.module,
div.moduleS1,
div.moduleS2,
div.moduleS3,
div.moduleS4 {
	font-size: 14px;
	line-height: 140%;
}


#leader .module.FLR h3 {
	text-shadow: #fff 1px 1px 0;
}

/* ============  DEFAULT  ============ */

div.module {
	color: #5a5a5a;
	text-shadow: #fff 1px 1px 0;
	margin-bottom: 15px;
	height: 1%;
}

div.module h3 {
	color: #2f6893;
	background: url(../images/lightblue/divider.png) repeat-x 0 bottom;
	text-shadow: #fff 1px 1px 0;
}

div.module a {
	color: text-shadow: none;
}

div.module li {
	list-style: none;
	background: url(../images/lightblue/bullet_S3.png) no-repeat 0 .4em;
	padding: 0px 0px 0px 16px;
	margin: 0;
	line-height: 150%;
}

.elements-bot div.module li {
	list-style: none;
	background: url(../images/lightblue/bullet_footer.png) no-repeat 0 .4em;
	padding: 0px 0px 0px 16px;
	margin: 0;
	line-height: 150%;
}



/* ============  S1  ============ */

div.moduleS1 {
	color: #f4f4f4;
	text-shadow: #1b3d56 1px 1px 0;
	background: #0e4258 url(../images/lightblue/S1.png) repeat-x center top;
	box-shadow: 0px 4px 4px #e2e2e2;
	-webkit-box-shadow: 0px 4px 4px #e2e2e2;
	-moz-box-shadow: 0px 4px 4px #e2e2e2;
	-khtml-box-shadow: 0px 4px 4px #e2e2e2;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin-bottom: 15px;
	height: 1%;
}

div.moduleS1 div.pad {
	padding: 12px 12px 10px 12px;
}

div.moduleS1 h3 {
	color: #ebebeb;
	background: url(../images/lightblue/S1_heading.png) repeat-x 0 bottom;
	text-shadow: #0d3f58 1px 1px 0px;
}

div.moduleS1 a {
	color: #38b0e3;
	text-shadow: none;
}

div.moduleS1 li {
	list-style: none;
	background: url(../images/lightblue/bullet_S1.png) no-repeat 0 .3em;
	padding: 0px 0px 0px 16px;
	margin: 0;
	line-height: 150%;
}


/* ============  S2  ============ */

div.moduleS2 {
	color: #ccc;
	text-shadow: #000 1px 1px 0;
	background: url(../images/lightblue/S2.png) repeat-x center top;
	background-color: #000;
	box-shadow: 0px 4px 4px #e2e2e2;
	-webkit-box-shadow: 0px 4px 4px #e2e2e2;
	-moz-box-shadow: 0px 4px 4px #e2e2e2;
	-khtml-box-shadow: 0px 4px 4px #e2e2e2;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin-bottom: 15px;
	height: 1%;
}

div.moduleS2 div.pad {
	padding: 12px 12px 10px 12px;
}

div.moduleS2 h3 {
	color: #ebebeb;
	background: url(../images/lightblue/S2_heading.png) repeat-x 0 bottom;
	text-shadow: #000 1px -2px 0;
}

div.moduleS2 a {
	color: #38b0e3;
	text-shadow: none;
}

div.moduleS2 li {
	list-style: none;
	background: url(../images/lightblue/bullet_S2.png) no-repeat 0 .3em;
	padding: 0px 0px 0px 16px;
	margin: 0;
	line-height: 150%;
}


/* ============  S3  ============ */

div.moduleS3 {
	color: #545454;
	text-shadow: #e2e2e2 1px 1px 0;
	background: #ccc url(../images/lightblue/S3.png) repeat-x center top;
	box-shadow: 0px 4px 4px #e2e2e2;
	-webkit-box-shadow: 0px 4px 4px #e2e2e2;
	-moz-box-shadow: 0px 4px 4px #e2e2e2;
	-khtml-box-shadow: 0px 4px 4px #e2e2e2;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin-bottom: 15px;
	height: 1%;
}

div.moduleS3 div.pad {
	padding: 12px 12px 10px 12px;
}

div.moduleS3 h3 {
	color: #464646;
	background: url(../images/lightblue/S3_heading.png) repeat-x 0 bottom;
	text-shadow: #fff 1px 1px 0;
}

div.moduleS3 a {
	color: #2e7fbc;
	text-shadow: #e0e0e0 1px 1px 0;
}

div.moduleS3 li {
	list-style: none;
	background: url(../images/lightblue/bullet_S3.png) no-repeat 0 .3em;
	padding: 0px 0px 0px 16px;
	margin: 0;
	line-height: 150%;
}


/* ============  Bottom Modules  ============ */

.elements-bot div.module {
	color: #616161;
	text-shadow: #f1f1f1 1px 1px 0;
}

.elements-bot div.module div.pad {
	padding: 0px;
}

.elements-bot div.module h3 {
	color: #506a7d;
	background: url(../images/lightblue/bot_modheading.png) repeat-x 0 bottom;
	text-shadow: #f1f1f1 1px 1px 0;
}

.elements-bot div.module a {
	color: #3a80b3;
	text-shadow: none;
}

/* @end */

a.saleButton {
	font-size: 18px;
	padding: 8px 15px;
	margin: 0px auto;
	display: block;
	background: url(../images/lightblue/S1.png) repeat-x center top;
	width: 100px;
	text-align: center;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	color: #fff;
	font-weight: bold;
	text-transform: none;
	text-decoration: none;
	text-shadow: #0d3b4d 0px -1px 1px;
	box-shadow: 0px 1px 2px #bbb;
	-moz-box-shadow: 0px 1px 2px #bbb;
	-webkit-box-shadow: 0px 1px 2px #bbb;
	-khtml-box-shadow: 0px 1px 2px #bbb;
}

a.saleButton:hover {
	background: url(../images/lightblue/S1.png) repeat-x center -40px;
}

a.saleButton span {
	font-size: 13px;
	color: #94d7f3;
	display: block;
}

#container .nivoSlider .nivo-controlNav a {
	background: url(../images/lightblue/bullet.png) no-repeat center center;
}

#container .nivoSlider .nivo-controlNav a.active {
	background: url(../images/lightblue/bullet_active.png) no-repeat center center;
}

#container .nivo-caption p strong {
	color: #4192cf;
	text-shadow: 1px 1px 0px #000;
}
#container .nivo-caption {
	color: #f4f4f4;
	text-shadow: 1px 1px 0px #000;
}

#container .nivoSlider {
	-moz-box-shadow: 0 0 10px #939393;
	-webkit-box-shadow: 0 0 10px #939393;
}

/* Joomla Category Tables */

table.category th,th.sectiontableheader {
	background-color: #e0e0e0;
	border-bottom: 1px solid #cbcbcb;
	border-top: 1px solid #cbcbcb;
}

tr.sectiontableentry1 td,
td.sectiontableentry1 {
	background: #ededed;
	border-bottom: 1px solid #e0e0e0;
}

tr.sectiontableentry2 td,
td.sectiontableentry2 {
	background: #f2f2f2;
	border-bottom: 1px solid #dadada;
}

